<% content_for :title, "New forecast" %>

<h1>New forecast</h1>

<%= form_with(model: @forecast, local: true) do |form| %>
  <%= form.label :address %>
  <%= form.text_field :address %>

  <%= form.submit "Create Forecast" %>
<% end %>



<br>

<div>
  <%= link_to "Back to forecasts", forecasts_path %>
</div>
