<h1>Forecast for <%= @forecast.address %></h1>

<p>
  <strong>Data Source:</strong> 
  <% if @forecast.from_api %>
    <span style="color: red;">Retrieved from API</span>
  <% else %>
    <span style="color: green;">Cached Data</span>
  <% end %>
</p>

  <table>
    <thead>
      <tr>
        <th>Day</th>
        <th>Max Temp (°F)</th>
        <th>Min Temp (°F)</th>
        <th>Sunrise</th>
        <th>Sunset</th>
        <th>Precipitation (in)</th>
        <th>Precipitation Probability (%)</th>
      </tr>
    </thead>
    <tbody>
      <% @forecast.seven_day_forecast.each_with_index do |day, index| %>
        <tr>
          <td><%= Time.parse(day[:sunrise]).strftime("%a, %b %-d, %Y") %></td>
          <td><%= day[:max] %></td>
          <td><%= day[:min] %></td>
          <td><%= Time.parse(day[:sunrise]).strftime("%I:%M %p") %></td>
          <td><%= Time.parse(day[:sunset]).strftime("%I:%M %p") %></td>
          <td><%= day[:precip_sum] %></td>
          <td><%= day[:precip_prob] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'Back', forecasts_path %>
<%= form_with model: @forecast, method: :delete, class: "inline-form" do %>
  <%= submit_tag "Delete", data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
<% end %>
